# Ignore untracked system files and folders
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
Documents/
Downloads/
Favorites/
Music/
Pictures/
Videos/
*.cfg
secret_*.txt

